
<div class="homepage_title">
  <h1>Standings</h1>
</div>
<div class="hockey_intro">

  <table>
    <tr> <th>Team</th><th>Logo</th><th>Record</th><th>Points</th></tr>
    <% @nhl.each do |team| %>
    <tr>
      <td class="nhl_table"><%= team.location %> <%= team.name %></td>
      <td> <img src=<%= team.logos[:small][:href] %>></td>
      <td><%= team.record[:summary] %></td>
      <td><%= (team.record.wins * 2) + (team.record.overtimeLosses * 1) %></td>
    </tr>
    <% end %>
  </table>
</div>

<div class="signup">
  <% if !current_user %> 
  <h5> Register here to get customized news of your favorite team</h5>
  <form class="signup_form" action="/signup" method="post">
    <label for="username">Username</label>
    <input type="text" name="user[username]"><br>
    <label for="password">Password</label>
    <input type="password" name="user[password]"><br>
    <label for="favorite_team">Favorite Team</label>
    <select name="favorite_team">
      <option value="Anaheim Ducks">Anaheim Ducks</option>
      <option value="Boston Bruins">Boston Bruins</option>
      <option value="Buffalo Sabres">Buffalo Sabres</option>
      <option value="Calgary Flames">Calgary Flames</option>
      <option value="Carolina Hurricanes">Carolina Hurricanes</option>
      <option value="Chicago Blackhawks">Chicago Blackhawks</option>
      <option value="Colorado Avalanche">Colorado Avalanche</option>
      <option value="Columbus Blue Jackets">Columbus Blue Jackets</option>
      <option value="Dallas Stars">Dallas Stars</option>
      <option value="Detroit Red Wings">Detroit Red Wings</option>
      <option value="Edmonton Oilers">Edmonton Oilers</option>
      <option value="Florida Panthers">Florida Panthers</option>
      <option value="Los Angeles Kings">Los Angeles Kings</option>
      <option value="Minnesota Wild">Minnesota Wild</option>
      <option value="Montreal Canadiens">Montreal Canadiens</option>
      <option value="Nashville Predators">Nashville Predators</option>
      <option value="New Jersey Devils">New Jersey Devils</option>
      <option value="New York Islanders">New York Islanders</option>
      <option value="New York Rangers">New York Rangers</option>
      <option value="Ottawa Senators">Ottawa Senators</option>
      <option value="Philadelphia Flyers">Philadelphia Flyers</option>
      <option value="Phoenix Coyotes">Phoenix Coyotes</option>
      <option value="Pittsburgh Penguins">Pittsburgh Penguins</option>
      <option value="San Jose Sharks">San Jose Sharks</option>
      <option value="St. Louis Blues">St. Louis Blues</option>
      <option value="Tampa Bay Lightning">Tampa Bay Lightning</option>
      <option value="Toronto Maple Leafs">Toronto Maple Leafs</option>
      <option value="Vancouver Canucks">Vancouver Canucks</option>
      <option value="Washington Capitals">Washington Capitals</option>
      <option value="Winnipeg Jets">Winnipeg Jets</option>
    </select>
    <input type="submit" value="Register">
  </form>
  <% end %>
</div>

<div class="nhl_headlines">
  <ul>
    <% @headlines.each do |headline| %>
    <li class="nhl_headline"><%= headline.headline %></li>
    <li class="nhl_description"><%= headline.description %></li>
    <% end %>
  </ul>
</div>

<% if current_user %>
<div class="nhl_scores">

  <% if todays_games %>
  <h2> YOUR TEAM IS PLAYING TODAY :) </h2>
  <% else %>
  <h2>YOUR TEAM DOES NOT PLAY TODAY :( </h2>
  <% end %>
</div>
<% end %>
